.server-container {
  height: 100%;

  .channel-list-container {
    width: 240px;
    height: 100%;
    background-color: $channel-background-color;

    .channel-header {
      margin-bottom: 16px;
    }

    .invite-server-member-button {
      margin: 4px 8px 12px;
      padding: 4px 8px;
      border-radius: 4px;
      background-color: $button-bg;
      border: none;
      color: $text-color;
      font-weight: 600;

      &:hover {
        background-color: $channel-list-item-background-hover-color;
      }
    }

    .server-name {
      position: absolute;
      width: 100%;
      text-overflow: ellipsis;
      padding: 8px 16px;
      color: $white-color;
      text-shadow: $server-name-shadow;
    }

    .banner-profile {
      height: 136px;
      width: 100%;
      object-fit: cover;
    }
  }

  .channel-content-container {
    flex: 1;
    height: 100%;
    background-color: #36393f;
  }
}
