.message-item-container {
  margin: 8px 0 !important;
  display: flex;

  * {
    color: $text-color;
  }

  .avatar {
    margin-top: 4px;
  }

  .content-container {
    flex: 1;
    margin: 0 0 0 12px;

    .created-at {
      font-size: 12px;
      margin-left: 8px;
      color: rgba($color: $text-color, $alpha: 0.5);
    }
  }
}
